<!DOCTYPE html>
<html ng-app="nseApp">

<head>
    <meta charset="utf-8">
    <link href="lib/nv.d3.css" rel="stylesheet" type="text/css">
    <link href="lib/custom.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/underscore/underscore.js"></script>
    <script src="./bower_components/d3/d3.js"></script>
    <script src="./bower_components/nvd3/build/nv.d3.js"></script>
    <script src="./bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="./bower_components/nvd3/build/nv.d3.css">
</head>

<body>
    <div class="container" ng-controller="nseCtrl">
        <div class="row">
            <div class="form-inline">
                <div class="form-group">
                    Add Symbol: <select class="form-control" ng-model="dataval.symbol"  ng-options="item.symbol for item in items" ng-change="getSymbolData();">
                        <option value="">--Select Symbol--</option>
                    </select>
                    <img src="./images/loading.gif" ng-show="loading">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-inline">
                <div class="pagination">
                    <button  class="page" ng-click="upgrade();" >Today</button>
                    <button  class="page" ng-click="mDayData(7);" >7 D</button>
                    <button  class="page" ng-click="mDayData(15);" >15 D</button>
                    <button  class="page" ng-click="mMonthData(1);" >1 M</button>
                    <button  class="page" ng-click="mMonthData(2);">2 M</button>
                    <button  class="page" ng-click="mMonthData(3);">3 M</button>
                    <button  class="page" ng-click="mMonthData(6);">6 M</button>
                    <button  class="page" ng-click="mMonthData(12);">All Time</button>
                </div>
                <div class="form-group">
                    <label class="label-control">From Date</label>
                    <input class="form-control" type="date" ng-model="dataval.fromdate" placeholder="from" ng-change="dateChange();" value="{{ dataval.fromdate | date: 'yyyy-MM-dd' }}">
                </div>
                <div class="form-group">
                    <label class="label-control">To Date</label>
                    <input class="form-control" type="date" ng-model="dataval.todate" placeholder="to" ng-change="dateChange();" value="{{ dataval.todate | date: 'yyyy-MM-dd' }}">
                </div>
            </div>
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
    <!-- <div id="chart1">
        <svg></svg>
    </div> 
    <script src="lib/custom.js"></script>-->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/controller.js"></script>
</body>

</html>
